*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.color{
    background-color: 
    hsl(213, 96%, 18%)
    hsl(243, 100%, 62%)
    hsl(228, 100%, 84%)
    hsl(206, 94%, 87%)
    hsl(354, 84%, 57%) 

    hsl(231, 11%, 63%)
    hsl(229, 24%, 87%)
    hsl(218, 100%, 97%)
    hsl(231, 100%, 99%)
    hsl(0, 100%, 100%);
}
@font-face {
    font-family: 'bold';
    src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'medium';
    src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'regular';
    src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #EEF5FF;
    font-family: "regular", sans-serif;
    box-sizing: border-box;
}

.stepOne, .stepTwo, .stepThree, .stepFour, .stepFive{
    display: none;
}


.page{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 740px;
    height: 470px;
    padding: 15px;
    border-radius: 12px;
    /* justify-content: center; */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); 
}
.sideBar{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-size: 100%; 
    background-repeat: no-repeat;
    /* background-color: red; */
    width: 213px;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    flex-shrink: 0;
}
.sideBar-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.sideBar-menu-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.sideBar-menu-item-btn{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: hsla(206, 94%, 87%, 0);
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-family: "bold", sans-serif;
}
.sideBar-menu-item-btn:hover{
    background-color: hsla(206, 94%, 87%, 0.145);
}
.sideBar-menu-item-btn.activeStep{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}
.sideBar-menu-item-btn.clicked{
    background-color: hsl(206, 100%, 96%);
}


.sideBar-menu-item-txt{
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.sideBar-menu-item-txt p{
    color: hsl(228, 100%, 84%);
}
.sideBar-menu-item-txt h3{
    font-size: 10px;
    font-weight: 500;
    font-family: "bold";
}

/* to display page content */
.pageContent{
    flex: 1;
    padding: 0 56px;
    padding-top: 35px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.pageContent h2{
    font-size: 25px;
    font-family: "bold";
    color:  hsl(213, 96%, 18%);
    margin-bottom: 10px;
}
.pageContent h3{
    color: hsl(213, 96%, 18%);
    font-size: 13px;
    margin-bottom: 5px;
}
.pageContent h6{
    color: hsla(213, 96%, 18%, 0.76);
    font-size: 10px;
    margin-top: 5px;
}
.pageContent p{
    font-size: 13.5px;
    font-family: "regular";
    color:  hsl(231, 11%, 63%);
}
.navBtn{
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navBtn button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
}
.navBtn .nextBtn{
    background-color: hsl(213, 96%, 18%);
    color: white;
}
.navBtn .backBtn{
    background-color: hsl(0, 0%, 100%);
    color: hsl(231, 11%, 63%);
}
.navBtn .nextBtn:hover{
    background-color: hsl(213, 96%, 32%);
}
.navBtn .nextBtn.clicked{
    background-color: hsl(213, 100%, 40%);
}
.navBtn .backBtn:hover{
    background-color: hsl(0, 0%, 90%);
    color: hsl(231, 6%, 45%);
}
.navBtn .backBtn.clicked{
    background-color: hsl(0, 0%, 53%);
    color: hsl(234, 6%, 32%);
}

.stepPage .info{
    height: 39px;
}
.stepPage span{
    font-size: 13px;
}

.stepOne{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.stepOne form{
    display: flex;
    flex-direction: column;
}
.stepOne #notValid{
    display: none;
    color: hsl(354, 84%, 57%);
}
.stepOne form div{
    display: flex;
    flex-direction: column;
    height: 80px;
}
.stepOne form p{
    color: hsl(354, 84%, 57%);
    /* margin-bottom: 18px; */
    margin-top: 4px;
    font-size: 12px;
}
.stepOne form label{
    font-size: 13px;
    color:  hsl(213, 96%, 18%);
    margin-bottom: 5px;
    font-family: "medium";
}
.stepOne form input{
    height: 35px;
    padding: 10px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
}
.stepOne .navBtn{
    justify-content: flex-end;
}


.stepTwo{
    /* display: flex; */
    flex-direction: column;
    position: relative;
    height: 100%;
}
.stepTwo #noPickedPlan{
    display: none;
    color: hsl(354, 84%, 57%);
}
.stepTwo .plan{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.stepTwo .plan-sct{
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(229, 24%, 87%)
    ;
    width: 100%;
    height: 140px;
    border-radius: 5px;
    padding: 12px;
    justify-content: space-between;
}
.plan-sct.activeChoice{
    border: 1px solid hsl(213, 96%, 18%);
    background-color: hsl(218, 100%, 97%);
}
.stepTwo .plan-sct:hover{
    border-color: hsl(228, 100%, 84%);
}

.stepTwo .plan-sct img{
    width: 30px;
    height: 30px;
    margin-top: 4px;
}
.year {
    display: none;
}
.month {
    display: flex;
}
.stepTwo .plan-sct-txt h3{
    color: hsl(213, 96%, 18%);
    font-size: 15px;
    margin-bottom: 5px;
}
.stepTwo .choose{
    background-color:hsl(218, 100%, 97%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.stepTwo .choose #monthly{
    color: hsl(213, 96%, 18%)
}
.stepTwo #mntyrBtn{
    display: flex;
    width: 40px;
    background-color: hsl(213, 96%, 18%);
    height: 20px;
    align-items: center;
    border-radius: 50px;
    position: relative;
    padding-block: 4px;
    cursor: pointer;
}

#mntyrBtnW{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    transition: left 0.2s ease-in;  
}

#mntyrBtnW.switch{
    left: 23px;
}

.stepThree{
    /* display: flex; */
    flex-direction: column;
    position: relative;
    height: 100%;
}
.stepThree .addons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.stepThree .addon{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 63px;
    border: 1px solid hsl(229, 24%, 87%)
    ;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    gap: 15px;
}
.stepThree .addon.activeChoice{
    border: 1px solid hsl(213, 96%, 18%);
    background-color: hsl(218, 100%, 97%);
}
.stepThree .addon:hover{
    border-color: hsl(228, 100%, 84%);
}
.stepThree .addon p{
    color: hsl(243, 100%, 62%);
}
.stepThree .addon div{
    width: 100%;
}
.stepThree .addon div p{
    font-family: "medium", sans-serif;
    color:  hsl(231, 11%, 63%);
}

.stepFour{
    /* display: flex; */
    flex-direction: column;
    position: relative;
    height: 100%;
}
.stepFour .content{
    display: flex;
    flex-direction: column;
    background-color: hsl(218, 100%, 97%);
    height: auto;
    padding: 15px;
    margin-top: 30px;
    gap: 15px;
    border-radius: 5px;
}
.stepFour .choice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stepFour .planChoice{
    display: flex;
    flex-direction: column;
}
.stepFour #noPickedAddons{
    display: none;
}
.stepFour .addons{
    display: none;
    flex-direction: row;
    justify-content: space-between;
}
.stepFour .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.stepFour #change:hover {
    cursor: default ;
}

.stepFive{
    /* display: flex; */
    flex-direction: column;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
}




@media (max-width: 600px) {
    body{

    }
    .page{
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0%;
        padding: 0%;
        align-items: center;
        background-color: #EEF5FF;

    }
    .sideBar{
        width: 100%;
        border-radius: 0%;
        background-size: cover;
        background-position: center -536px;
        height: 170px;
        justify-content:  center;
    }
    .sideBar-menu{
        display: flex;
        flex-direction: row;
        gap: 25px;
        justify-content:  center;

    }
    .sideBar-menu-item{
        width: fit-content;
    }
    .sideBar-menu-item-txt{
        display: none;
    }

    .pageContent{
        position: absolute;
        width: 340px;
        padding: 30px 20px;
        padding-bottom: 35px;
        border-radius: 10px;
        top: 95px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08); 
    }
    .stepPage .info{
        font-size: 16.5px;
    }
    .navBtn{
        top: 490px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 318px;
    }
    .navBtn button{
        width: 90px;
    }
    .stepPage .info{
        height: 65px;
    }
    .stepOne form div{
        height: 92px;
    }

    .stepTwo .plan{
        flex-direction: column;
    }
    .stepTwo .plan-sct{
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        height: 75px;
        align-items: center;
    }
    .stepTwo .plan-sct img{
        width: 40px;
        height: 40px;
        margin: 0%;
    }
    .stepTwo .plan-sct-txt h3{
        margin-bottom: 0px;
    }


    .stepThree .addon{
        gap: 0px;
    }
    .stepThree .addon div{
        margin-left: 10px;
    }
}